@use "../global/variable.scss" as var;

.catalog-additional__title {
  position: relative;
  max-width: max-content;
  margin: 25px 0 36px 0;
  padding: 0 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: var.$black;
  background-color: var.$white;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 80px 0;
    padding: 0 40px 0 36px;
    font-size: 36px;
    line-height: 36px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    height: 2px;
    width: 100vw;
    z-index: -1;
    background-color: var.$green;

    @media (min-width: var.$tablet-width) {
      top: 22px;
    }
  }

  &::before {
    @media (min-width: var.$tablet-width) {
      content: "";
      position: absolute;
      top: 22px;
      right: 0;
      height: 2px;
      width: 100vw;
      z-index: -1;
      background-color: var.$green;
    }
  }
}

.catalog-additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid var.$special-grey;
}

.catalog-additional__item {
  padding: 12px 0 20px 0;
  border-bottom: 1px solid var.$special-grey;

  @media (min-width: var.$tablet-width) {
    padding: 26px 0 28px 0;
  }

  @media (min-width: var.$desktop-width) {
    display: grid;
    grid-template-columns: 1fr 244px;
    column-gap: 40px;
    align-items: center;
    padding: 15px 0 17px 0;
  }
}

.catalog-additional__wrapper {
  @media (min-width: var.$desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
    margin: 0 0 86px 0;
  }
}

.catalog-additional__item-wrapper {
  @media (min-width: var.$tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 38px 25px 38px;
  }

  @media (min-width: var.$desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    margin: 0;
  }
}

.catalog-additional__item-value-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;

  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 55px;
    column-gap: 49px;
    justify-items: end;
    margin: 0;
  }

  @media (min-width: var.$desktop-width) {
    justify-items: start;
  }
}

.catalog-additional__item-title {
  margin: 0 0 13px 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: var.$special-dark-grey;

  @media (min-width: var.$tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.catalog-additional__text {
  margin: 0;
  font-family: var.$secondary-font;
  line-height: 14px;

  @media (min-width: var.$tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog-additional__promo-text {
  max-width: 165px;
  font-family: var.$secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: var.$white;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    text-align: left;
  }

  @media (min-width: var.$desktop-width) {
    text-align: center;
  }
}

.catalog-additional__link {
  padding: 10px 26px;

  @media (min-width: var.$tablet-width) {
    margin: 0 38px;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0;
    width: 100%;
  }
}

.catalog-additional__promo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px 0;
  padding: 59px 20px 43px 20px;

  @media (min-width: var.$tablet-width) {
    margin: 69px 0 76px 0;
    padding: 57px 77px 60px 77px;
    flex-direction: row;
  }

  @media (min-width: var.$desktop-width) {
    flex-direction: column;
    margin: 0;
    padding: 55px 30px 42px 30px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var.$green, 0.85);
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/catalog-background-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-background-mobile@2x.png");
    }

    @media (min-width: var.$tablet-width) {
      background-image: url("../img/catalog-background-tablet@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog-background-tablet@2x.png");
      }
    }

    @media (min-width: var.$desktop-width) {
      background-image: url("../img/catalog-background-desktop@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog-background-desktop@2x.png");
      }
    }
  }
}

.catalog-additional__img {
  @media (min-width: var.$tablet-width) {
    margin: 0 265px 0 0;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0;
  }
}
