@use "../global//variable.scss" as var;

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: var.$tablet-width) {
    padding: 0 30px;
  }

  &--selection {
    @media (min-width: var.$tablet-width) {
      padding: 0;
      margin: 0;
    }
  }

  &--selection-left {
    @media (min-width: var.$desktop-width) {
      padding: 0 0 0 30px;
    }
  }
}
