@use "../global/variable.scss" as var;

.copyright {
  color: var.$dark-grey;

  &:hover {
    .copyright__img {
      color: var.$green;
    }
  }

  &:focus {
    outline: none;

    .copyright__img {
      color: var.$green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  font-family: var.$secondary-font;
  font-size: 16px;
  line-height: 19px;
}
