@use "../global/variable.scss" as var;

.form__title {
  margin: 27px 0 37px 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: var.$black;

  @media (min-width: var.$tablet-width) {
    margin: 60px 0 54px 0;
    padding: 0 40px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: var.$desktop-width) {
    margin: 74px 0 56px 0;
    padding: 0;
  }
}

.form__subtitle {
  max-width: 265px;
  margin: 0 0 37px 0;
  line-height: 18px;
  text-transform: uppercase;
  color: var.$black;

  @media (min-width: var.$tablet-width) {
    max-width: 460px;
    margin: 0 0 64px 0;
    padding: 0 40px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: var.$desktop-width) {
    max-width: 460px;
    padding: 0;
  }
}
