@use "../global/variable.scss" as var;

.input {
  font-family: inherit;
  padding: 14px 20px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid var.$special-light-grey;
  color: var.$dark-grey;
  background-color: var.$transparent;

  &:hover {
    border-color: var.$special-grey;
  }

  &:focus {
    border-color: var.$dark-grey;
    outline: 1px solid var.$dark-grey;
  }

  &:disabled {
    opacity: 0.5;
  }

  @media (min-width: var.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.input.error {
  border-color: var.$coral;
  outline: 1px solid var.$coral;
}
