@use "../global/variable.scss" as var;

.main-header {
  &--accent {
    @media (max-width: var.$mobile-width-only) {
      border-bottom: 1px solid var.$light-grey;
    }
  }
}

.main-header__nav {
  padding: 10px 0 5px 0;

  @media (min-width: var.$tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  @media (min-width: var.$desktop-width) {
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 0 0 0;
  }
}


.main-header__logo {
  display: flex;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-img {
  @media (min-width: var.$tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: var.$desktop-width) {
    width: 202px;
    height: 59px;
  }
}
