@use "../global/variable.scss" as var;

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: var.$mobile-width-only) {
    padding-bottom: 18px;
  }
}

.main-nav__list {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var.$white;

  @media (max-width: var.$mobile-width-only) {
    display: none;
    left: 0;
    right: 0;
    z-index: 3;
  }

  @media (min-width: var.$tablet-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    max-width: 500px;
    margin-top: 18px;
  }
}

.main-nav__item {
  @media (max-width: var.$mobile-width-only) {
    border-top: 1px solid var.$light;
  }

  @media (min-width: var.$tablet-width) {
    margin-right: 33px;
  }
}

.main-nav__item:nth-child(3n) {
  @media (min-width: var.$tablet-width) {
    margin-right: 0;
  }
}

.main-nav__link {
  display: block;
  padding: 22px 20px 24px 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: var.$black;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s ease;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--current {
    pointer-events: none;
  }

  &--contrast {
    @media (min-width: var.$desktop-width) {
      color: var.$white;
    }
  }

  @media (min-width: var.$tablet-width) {
    padding: 5px 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: var.$desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__toggle {
  position: relative;
  width: 24px;
  height: 16px;
  cursor: pointer;
  background-color: transparent;
  border: none;

  @media (min-width: var.$tablet-width) {
    display: none;
  }
}

.main-nav__toggle-line {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 1.5px;
  background-color: var.$black;
  transition: 0.3s ease;

  &:nth-child(1) {
    top: 0;
  }

  &:nth-child(2) {
    top: 8px;
  }

  &:nth-child(3) {
    top: 8px;
  }

  &:nth-child(4) {
    top: 16px;
  }
}

.main-nav--nojs {
  .main-nav__toggle {
    @media (max-width: var.$mobile-width-only) {
      display: none;
    }
  }
}

.main-nav--opened {
  .main-nav__list {
    @media (max-width: var.$mobile-width-only) {
      display: block;
    }
  }

  .main-nav__toggle-line {
    &:nth-child(1) {
      transform: scaleX(0);
    }

    &:nth-child(2) {
      transform: rotate(45deg);
      height: 1px;
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
      height: 1px;
    }

    &:nth-child(4) {
      transform: scaleX(0);
    }
  }
}
