@use "../global/variable.scss" as var;

.plan__list {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 30px 0;
  }

  @media (min-width: var.$desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.plan__item {
  position: relative;
  padding: 24px 20px 18px 20px;
  background-color: var.$basic-grey;

  @media (min-width: var.$tablet-width) {
    padding: 77px 62px 53px 52px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 77px 61px 55px 52px;
  }

  &:not(:last-child) {
    margin: 0 0 20px 0;

    @media (min-width: var.$tablet-width) {
      margin: 0 0 30px 0;
    }

    @media (min-width: var.$desktop-width) {
      margin: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: var.$green;
    border-radius: 50%;

    @media (min-width: var.$tablet-width) {
      top: 92px;
      right: 62px;
      left: calc(100% - 200px - 62px);
      width: 200px;
      height: 200px;
    }

    @media (min-width: var.$desktop-width) {
      top: 47px;
      right: calc(100% - 100px - 52px);
      left: 52px;
      width: 100px;
      height: 100px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
  }

  &--slim {
    &::before {
      top: 21px;
      left: 29px;
      width: 36px;
      height: 50px;
      background-image: url("../img/sprite.svg#icon-cat-slim");

      @media (min-width: var.$tablet-width) {
        top: 81px;
        right: 92px;
        left: calc(100% - 140px - 92px);
        width: 140px;
        height: 194px;
      }

      @media (min-width: var.$desktop-width) {
        top: 41px;
        right: calc(100% - 70px - 67px);
        left: 67px;
        width: 70px;
        height: 97px;
      }
    }
  }

  &--pro {
    &::before {
      top: 35px;
      left: 11px;
      width: 67px;
      height: 28px;
      background-image: url("../img/sprite.svg#icon-cat-pro");

      @media (min-width: var.$tablet-width) {
        top: 135px;
        right: 28px;
        left: calc(100% - 268px - 28px);
        width: 268px;
        height: 112px;
      }

      @media (min-width: var.$desktop-width) {
        top: 67px;
        right: calc(100% - 134px - 33px);
        left: 33px;
        width: 134px;
        height: 56px;
      }
    }
  }
}

.plan__item-title {
  margin: 0 0 29px 0;
  padding: 0 0 0 69px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: var.$black;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 24px 0;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0 0 73px 0;
    padding: 0 0 0 162px;
  }
}

.plan__item-description {
  margin: 0 0 15px 0;
  font-family: var.$secondary-font;
  padding: 0 0 23px 0;
  border-bottom: 1px solid var.$light-grey;

  @media (min-width: var.$tablet-width) {
    max-width: 340px;
    margin: 0 0 48px 0;
    font-size: 16px;
    line-height: 24px;
    color: var.$black;
    border: none;
  }

  @media (min-width: var.$desktop-width) {
    max-width: 460px;
    margin: 0 0 23px 0;
  }
}

.plan__link {
  position: relative;
  display: block;
  max-width: 134px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: var.$black;
  transition: 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 24px;
    height: 12px;
    background-image: url("../img/sprite.svg#icon-arrow");
    transform: translateY(-50%);
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: var.$tablet-width) {
    max-width: 161px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: var.$desktop-width) {
    max-width: 168px;
  }
}
