@use "../global/variable.scss" as var;

.product {
  padding: 19px 20px 25px 20px;

  @media (min-width: var.$tablet-width) {
    padding: 0 37px 39px 39px;
    background-color: var.$basic-grey;
  }

  @media (min-width: var.$desktop-width) {
    padding: 0 37px 40px 40px;
  }
}

.product__title {
  max-width: 80px;
  margin: 0 0 15px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var.$special-dark-grey;

  @media (min-width: var.$tablet-width) {
    max-width: unset;
    margin: 0 0 13px 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0 0 15px 0;
    line-height: 21px;
  }
}

.product__break {
  @media (max-width: var.$mobile-width-only) {
    display: none;
  }
}

.product__img {
  display: block;

  &:nth-child(even) {
    @media (max-width: var.$mobile-width-only) {
      margin: 0 0 21px 0;
    }
  }

  &:nth-child(odd) {
    @media (max-width: var.$mobile-width-only) {
      margin: 0 0 13px 0;
    }
  }

  @media (min-width: var.$tablet-width) {
    width: 161px;
    height: 172px;
    margin: -46px 0 36px 0;
  }

  @media (min-width: var.$desktop-width) {
    margin: -54px 0 46px 0;
  }

  &--large {
    @media (min-width: var.$tablet-width) {
      width: 168px;
      height: 200px;
      margin: -70px 0 32px 0;
    }

    @media (min-width: var.$desktop-width) {
      margin: -83px 0 46px 0;
    }
  }
}

.product__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  justify-items: center;

  @media (min-width: var.$tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product__text-wrapper {
  justify-self: stretch;
  margin: 0 0 21px 0;

  @media (min-width: var.$tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin: 0 0 32px 0;
  }
}

.product__characteristics {
  margin: 0;

  @media (min-width: var.$tablet-width) {
    align-self: stretch;
  }
}

.product__characteristics-item {
  display: flex;
  justify-content: space-between;
  min-width: 140px;

  @media (min-width: var.$tablet-width) {
    padding: 7px 0 8px 0;
    border-bottom: 1px solid var.$special-grey;
  }
}

.product__text {
  font-family: var.$secondary-font;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: var.$tablet-width) {
    font-size: 16px;
  }
}

.product__characteristics-value {
  margin: 0;
}

.product__order-link {
  grid-column: 1 / -1;
  justify-self: stretch;
  margin: auto 0 0 0;
  padding: 10px 26px;

  @media (min-width: var.$tablet-width) {
    align-self: stretch;
    justify-self: end;
  }
}
