$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

$white: #ffffff;
$black: #000000;
$basic-grey: #f2f2f2;
$grey: #bababa;
$special-grey: #cdcdcd;
$neutral-grey: #eaeaea;
$special-neutral-grey: #ebebeb;
$light: #e6e6e6;
$special-light-grey: #e7e7e7;
$light-grey: #d9d9d9;
$soft-grey: #d3d3d3;
$middle-grey: #666666;
$dark-grey: #444444;
$special-dark-grey: #222222;
$deep-grey: #111111;
$dark-brown: #3e3e3e;
$light-brown: #6b6b6b;
$dark-green: #5eaa2f;
$green: #68b738;
$coral: #ff8282;
$transparent: transparent;
