@use "global/global.scss";
@use "global/fonts.scss";
@use "blocks/page.scss";
@use "blocks/page-body.scss";
@use "blocks/main-nav.scss";
@use "blocks/main-header.scss";
@use "blocks/intro.scss";
@use "blocks/button.scss";
@use "blocks/reason.scss";
@use "blocks/about.scss";
@use "blocks/example.scss";
@use "blocks/contacts.scss";
@use "blocks/copyright.scss";
@use "blocks/social.scss";
@use "blocks/form.scss";
@use "blocks/selection-form.scss";
@use "blocks/input.scss";
@use "blocks/catalog.scss";
@use "blocks/product.scss";
@use "blocks/catalog-additional.scss";
